<a href="https://colab.research.google.com/github/kimberlyhead24/hello-world/blob/main/KimberlyHead_LecturePractice_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Program that uses the list() and range to create the multiples of 3
multiples_of_threes = list(range(3, 100, 3))
print(multiples_of_threes)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

In [11]:
# Program to find all numbers between 1 and 1000 that are
# divisible by 7 and end in 6
divisible7_end6 = []
for i in range(1, 10000):
    if i % 7 == 0 and str(i)[-1] == '6':
        divisible7_end6.append(i)

# This is just for easy display of the numbers
count = 0
for num in divisible7_end6:
    print(num, end=" ")
    count += 1
    if count == 5:
        print()
        count = 0

56 126 196 266 336
406 476 546 616 686
756 826 896 966 1036
1106 1176 1246 1316 1386
1456 1526 1596 1666 1736
1806 1876 1946 2016 2086
2156 2226 2296 2366 2436
2506 2576 2646 2716 2786
2856 2926 2996 3066 3136
3206 3276 3346 3416 3486
3556 3626 3696 3766 3836
3906 3976 4046 4116 4186
4256 4326 4396 4466 4536
4606 4676 4746 4816 4886
4956 5026 5096 5166 5236
5306 5376 5446 5516 5586
5656 5726 5796 5866 5936
6006 6076 6146 6216 6286
6356 6426 6496 6566 6636
6706 6776 6846 6916 6986
7056 7126 7196 7266 7336
7406 7476 7546 7616 7686
7756 7826 7896 7966 8036
8106 8176 8246 8316 8386
8456 8526 8596 8666 8736
8806 8876 8946 9016 9086
9156 9226 9296 9366 9436
9506 9576 9646 9716 9786
9856 9926 9996